
#slide2 {
    align-items: center;
    justify-content: center;
}

#container2 {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 100px 5% 50px 5%;
    width: 88%
}

#statsBar {
    display: flex;
    flex-flow: column nowrap;
}

#meImg {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

#bioBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    right: 7.5%;
    width: 65%;
}

#textwrap {
    width: 90%;
}

#textwrap p {
    line-height: 140%;
    padding: 10px 15% 10px 0;
}

#footnotes {
    align-items: flex-end;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    width: 30px;
}

.footlocker {
    height: 49%;
    width: 100%;
}

#footlockerA {
    background: rgba(255, 255, 255, 1) url("../assets/interface/checkers.png") 6px 0 / 280px repeat;
}

#footlockerB {
    background: rgba(255, 255, 255, 1) url("../assets/interface/diamonds.png") 3px 0 / 280px repeat;
}